


body{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(183, 210, 243);
    color: white;
}


#heading{
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 50px;
    margin: 0;
}

input{
    width: 200px;
    height: 15px;
}

button{
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    height: 30px; 
    width: 80px;
    font-weight: 800;
    box-shadow: 0 0 1rem rgb(138, 164, 197);
    margin: 5px;
    display: inline;
    position: static;
    color: white;
}

button:hover{
    transform: scale(1.05);
}

button:active, #eraser:active{
    transform: scale(1);
}

#build{
    background: linear-gradient(45deg, rgb(137, 164, 223), rgb(80, 80, 233));
}

#random{
    background: linear-gradient(45deg, rgb(187, 184, 184), rgb(114, 112, 112));
}

#colors{
    margin-bottom: 20px;
    display: inline-block;
    white-space: nowrap;
}

#black{
    background-color: black;
}

#eraser{
    background-color: white;
    color: black;
}

#rainbow{
    background: linear-gradient(45deg, pink, red, yellow, green, blue);
}

#pink{
    background: linear-gradient(45deg, pink, rgb(245, 98, 122));
}

#green{
    background: linear-gradient(45deg, rgb(120, 228, 120), green);
}

#blue{
    background: linear-gradient(45deg, rgb(120, 221, 228), rgb(30, 121, 182));
}

#grayscale{
    background: linear-gradient(45deg, rgb(165, 162, 162), grey, black);
}

#grid-container{
    background-color: white;
    border: .5px solid gray;
    height: 500px;
    width: 500px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}


